<% include ./partials/head %>

<div class="wrapper container-fluid">
    <div class="row">
      <div class="col-3 sidebar pt-2">
        <h3>Online Users</h3>
        <div id="users"></div>
      </div>
      <div class="col-9 chatarea">
        <div class="topbar">
          <div class="bg" style="background: #fff; float: left; margin-right: 10px;"></div>
          <div style="margin-top: 6px;">
            <h3>User</h3>
          </div>
        </div>
        <div class="messages" id="messages">
        </div>
        
        <div class="form" onsubmit="return sendMessage(event)">
          <form action="#" id="chat-form">
            <input type="text" id="text-message" placeholder="Hi">
            <input type="hidden" id="message-to">
            <button type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
</div>

<link rel="stylesheet" href="/assets/css/chat.css">
<script src="/socket.io/socket.io.js"></script>
<script src="../assets/js/script.js"></script>

<% include ./partials/footer %>
