<% include ./partials/head %>
  <div class="container jumbotron mt-4 text-center">
    <h2>Welcome to Chat App</h2>
    <h4>Please Go to 
      <% if(!user){ %> <a href="/auth/login">Login</a> 
      <% }else{ %> <a href="/profile">Profile</a><% } %>
    </h4>
    <h5>Follow me on <a href="https://github.com/AbdulRehmanMehar" target="_blank">Github</a>.</h5>
  </div>
<% include ./partials/footer %>