<% include ./partials/head %>
  <div class="container jumbotron mt-4 text-center">
    <h2>Login With</h2>
    <div class="mt-4">
      <a href="/auth/twitter" class="btn btn-outline-info bt-lg"><i class="fa fa-twitter"></i> Twitter</a> &nbsp;
      <a href="/auth/facebook" class="btn btn-outline-primary bt-lg"><i class="fa fa-facebook"></i> Facebook</a> &nbsp;
      <a href="/auth/google" class="btn btn-outline-danger bt-lg"><i class="fa fa-google-plus"></i> Google Plus</a>
    </div>
  </div>
<% include ./partials/footer %>